dnscat.config
"awsSecretKey":"28dunBEhc374473Hdkql3kvdk881AYvne349KD3"
"awsAccessId":"AKIAJFHD345JFENC34FD"
"client_secret":"JFHe43fkwDjen3r8fjd3Dje8"
"secretkey":"cyberspacekittenssupersecurepassword"

-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAwU/01pfXiORTEzhu46rXRNAPwfY3zWMiZDnwu1sZBmedVR0n
fX+4nPAh2dzy+/qp+DJmGs/iLfdtHC6U/9Arvh9NioHEfoqColZPGOoqyqkcut/e
fAHxjLvRjwsoCRfcND4gtTZ29/r8mixbCa3LayDD4HZHz7ClZMi6DajF6h0Bf1i3
XO2PBj0aybP/2GYCLc7Zpgb3+jXU6J4beuk3bAOnfZNQwPjec844I98EUN2auDaX
0tYmunEKmt2JAuaAlVSOMC2VmM0Cu13cWRh1jMu4+mf0xgx28Lo2tpWIFabJ61T2
HNNvmUWTy51DoWnvF9IrnOxmv48GwVLDtvHBgQIDAQABAoIBAAENk3LbzuPDAqTX
KNt6ocORMpTG55Tp1lUfb61FmMRNKjE9gGqRmIraUATkzDoNKoHcnGvG+B9x+pkt
s8gU9TgK6Zw4ir55uK5zs+iZ1fPWqf5mm8qnJA61MzYJRIWQKLXsJLd3/XvqVRft
5+0MklAaFJcTbd62wp/i7AiJA9L7pQpJq/yCS8LjTtVrajXB9Pido/rhVLJwe3ov
1c59NaxUOI1641RIwRVSBhrmfme+S86IaRml8IXmpkjsyvSdxDvPOBA2LUwemrIG
WhusZbsVd5pMP7kKyyjagTspPJm5gwpAyHiDptFiEJck12VNLo36vKB1E9RdTZ/1
NK0YRKUCgYEA6U/XdFEyj3HWBn9W+e58yY5afmpH6wbwOz0plvwax25R4giJ/FsB
fJWEBNzSR/BdFFR6/C/+AwvXQ2AmYjrmGusIp8yS/2HK95vWIK00iYqSgxc6XRRk
f7fPSSkLl77D7DSJ7pvh3V/pJiBXDjLJzJoWmyN9FAj+H5uE5FEPTvsCgYEA1BxZ
oCMxH7d9gjM9BRKqT+BFUYmvk+1oFIdgcZ5YuAfPQbpHIsu7mb9g14t17a+Ygu1B
92GPlz9UFmn8y2r6xJ/uxRgjL3V3D7EQmfM8jQIU3SMa7vhHA6p1Q9fHx34+0mjB
570XVq5Ujzjyo8LT3kCSQXSgmKu26ovAgq2iGLMCgYBIpww4tHBCKviy3USAX7uM
KEAVzZLHpUl5qPoigi70m230LSSK6Ov1l7mcqgbxT/AsPIJvtaIr4KwP1wkc3ap6
B2aSminMTO+fW2+6jTUm/3fQSpNqGMeS3fI2ngl2H3lzPIkXPIOBJDS+IqP5T+d3
RyRy+wIgEwzPWuZvEq7psQKBgQDGMZtZc6iyHy0KXMA2nkM/kaqTztidm6a2D+0B
HVl+0+VIYDuZ+s5Xkih2H1zY9EvIgtMxyRp30/fJXc2VcWfSFDLyPWSbMuJGake9
4jcA9yHxo5zGEH2iokMiWlzVPlSLHNGarOhC2XAvx6GJfUGlGabPvJ9XKJQpQt5l
/MJK2wKBgQCFln5YGqRONBX2OJV2Eyga/EdbgFFcJwHsQ5+rcBzyBgQWTVKk1aHI
X5OvPX40HvmnPhsLhb6cHSwI3iHXNNykQtua1ae05se4wxJNoCBuAa54eGDd/mjf
ERtB8pFer2nL7JraiXb/ILT83rYiTq2iN+DyCOdOyesiKOvMpKCt2Q==
-----END RSA PRIVATE KEY-----
